torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
unsloth
ruff
pandas
scikit-learn
joblib
einops
flashy
hydra-core
hydra_colorlog
julius
num2words
huggingface_hub
demucs
encodec
gradio
librosa
torchmetrics
soundfile